{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
        "plugin:prettier/recommended"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts"],
                "moduleDirectory": ["node_modules", "src/"]
            }
        }
    },
    "rules": {
        "prettier/prettier": ["error", { "endOfLine": "auto" }],
        "no-console": 2
    }
}
